
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.o
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
ProjectFiles/Flash
/ProjectFiles/Flash/*
/ProjectFiles/Flash/*
/ProjectFiles/Flash/accel.__i
/ProjectFiles/Flash/accel.crf
/ProjectFiles/Flash/accel.o
/ProjectFiles/Flash/base_project.axf
/ProjectFiles/Flash/base_project.build_log.htm
/ProjectFiles/Flash/base_project.htm
/ProjectFiles/Flash/base_project.lnp
/ProjectFiles/Flash/base_project.map
/ProjectFiles/Flash/base_project_TM4C129 Flash.dep
/ProjectFiles/Flash/buttons.__i
/ProjectFiles/Flash/buttons.crf
/ProjectFiles/Flash/buttons.d
/ProjectFiles/Flash/buttons.o
/ProjectFiles/Flash/buzzer.__i
/ProjectFiles/Flash/buzzer.crf
/ProjectFiles/Flash/buzzer.o
/ProjectFiles/Flash/cfaf128x128x16.__i
/ProjectFiles/Flash/cfaf128x128x16.crf
/ProjectFiles/Flash/cfaf128x128x16.o
/ProjectFiles/Flash/joy.__i
/ProjectFiles/Flash/joy.crf
/ProjectFiles/Flash/joy.o
/ProjectFiles/Flash/led.__i
/ProjectFiles/Flash/led.crf
/ProjectFiles/Flash/led.d
/ProjectFiles/Flash/led.o
/ProjectFiles/Flash/main.__i
/ProjectFiles/Flash/main.crf
/ProjectFiles/Flash/main.d
/ProjectFiles/Flash/main.o
/ProjectFiles/Flash/mic.__i
/ProjectFiles/Flash/mic.crf
/ProjectFiles/Flash/mic.o
/ProjectFiles/Flash/opt.__i
/ProjectFiles/Flash/opt.crf
/ProjectFiles/Flash/opt.o
/ProjectFiles/Flash/rgb.__i
/ProjectFiles/Flash/rgb.crf
/ProjectFiles/Flash/rgb.o
/ProjectFiles/Flash/rtx_conf_cm.__i
/ProjectFiles/Flash/rtx_conf_cm.crf
/ProjectFiles/Flash/rtx_conf_cm.d
/ProjectFiles/Flash/rtx_conf_cm.o
/ProjectFiles/Flash/servo.__i
/ProjectFiles/Flash/servo.crf
/ProjectFiles/Flash/servo.o
/ProjectFiles/Flash/startup_tm4c129._ia
/ProjectFiles/Flash/startup_tm4c129.lst
/ProjectFiles/Flash/startup_tm4c129.o
/ProjectFiles/Flash/system_tm4c129.__i
/ProjectFiles/Flash/system_tm4c129.crf
/ProjectFiles/Flash/system_tm4c129.d
/ProjectFiles/Flash/system_tm4c129.o
/ProjectFiles/Flash/temp.__i
/ProjectFiles/Flash/temp.crf
/ProjectFiles/Flash/temp.o
/ProjectFiles/Flash/uart_console_f.__i
/ProjectFiles/Flash/uart_console_f.crf
/ProjectFiles/Flash/uart_console_f.d
/ProjectFiles/Flash/uart_console_f.o
/ProjectFiles/Flash/uartdriver.__i
/ProjectFiles/Flash/uartdriver.crf
/ProjectFiles/Flash/uartdriver.d
/ProjectFiles/Flash/uartdriver.o
/ProjectFiles/Flash/accel.__i
/ProjectFiles/Flash/accel.crf
/ProjectFiles/Flash/accel.o
/ProjectFiles/Flash/base_project.axf
/ProjectFiles/Flash/base_project.build_log.htm
/ProjectFiles/Flash/base_project.htm
/ProjectFiles/Flash/base_project.lnp
/ProjectFiles/Flash/base_project.map
/ProjectFiles/Flash/base_project_TM4C129 Flash.dep
/ProjectFiles/Flash/buttons.__i
/ProjectFiles/Flash/buttons.crf
/ProjectFiles/Flash/buttons.d
/ProjectFiles/Flash/buttons.o
/ProjectFiles/Flash/buzzer.__i
/ProjectFiles/Flash/buzzer.crf
/ProjectFiles/Flash/buzzer.o
/ProjectFiles/Flash/cfaf128x128x16.__i
/ProjectFiles/Flash/cfaf128x128x16.crf
/ProjectFiles/Flash/cfaf128x128x16.o
/ProjectFiles/Flash/joy.__i
/ProjectFiles/Flash/joy.crf
/ProjectFiles/Flash/joy.o
/ProjectFiles/Flash/led.__i
/ProjectFiles/Flash/led.crf
/ProjectFiles/Flash/led.d
/ProjectFiles/Flash/led.o
/ProjectFiles/Flash/main.__i
/ProjectFiles/Flash/main.crf
/ProjectFiles/Flash/main.d
/ProjectFiles/Flash/main.o
/ProjectFiles/Flash/mic.__i
/ProjectFiles/Flash/mic.crf
/ProjectFiles/Flash/mic.o
/ProjectFiles/Flash/opt.__i
/ProjectFiles/Flash/opt.crf
/ProjectFiles/Flash/opt.o
/ProjectFiles/Flash/rgb.__i
/ProjectFiles/Flash/rgb.crf
/ProjectFiles/Flash/rgb.o
/ProjectFiles/Flash/rtx_conf_cm.__i
/ProjectFiles/Flash/rtx_conf_cm.crf
/ProjectFiles/Flash/rtx_conf_cm.d
/ProjectFiles/Flash/rtx_conf_cm.o
/ProjectFiles/Flash/servo.__i
/ProjectFiles/Flash/servo.crf
/ProjectFiles/Flash/servo.o
/ProjectFiles/Flash/startup_tm4c129._ia
/ProjectFiles/Flash/startup_tm4c129.lst
/ProjectFiles/Flash/startup_tm4c129.o
/ProjectFiles/Flash/system_tm4c129.__i
/ProjectFiles/Flash/system_tm4c129.crf
/ProjectFiles/Flash/system_tm4c129.d
/ProjectFiles/Flash/system_tm4c129.o
/ProjectFiles/Flash/temp.__i
/ProjectFiles/Flash/temp.crf
/ProjectFiles/Flash/temp.o
/ProjectFiles/Flash/uart_console_f.__i
/ProjectFiles/Flash/uart_console_f.crf
/ProjectFiles/Flash/uart_console_f.d
/ProjectFiles/Flash/uart_console_f.o
/ProjectFiles/Flash/uartdriver.__i
/ProjectFiles/Flash/uartdriver.crf
/ProjectFiles/Flash/uartdriver.d
/ProjectFiles/Flash/uartdriver.o
/ProjectFiles/TM4C129 Flash.BAT
/Lab3/driverlib/driverlib.uvguix.Marlon
/Lab3/exemploTIVA_UTFPR.uvmpw.uvgui.Marlon
/Lab3/grlib/grlib.uvguix.Marlon
/Lab3/ProjectFiles/base_project.uvguix.Marlon
/Lab3/ProjectFiles/Flash/base_project.axf
/Lab3/ProjectFiles/Flash/base_project.build_log.htm
/Lab3/ProjectFiles/Flash/base_project.htm
/Lab3/ProjectFiles/Flash/base_project.map
/Lab3/ProjectFiles/Flash/base_project_TM4C129 Flash.dep
/Lab3/ProjectFiles/Flash/main.crf
